### Exercise 1 - selenium and webscraping

https://www.worldometers.info/coronavirus/?fbclid=IwAR2UQnjHgeapOf4Z1_yHDghnjNkPEdhGKgbZ7i3hV6YSXjYPGOUHMQ0uP98#countries

Længere nede på siden ses en tabel om alle lande inficeret med corona virus, ved brug af selenium og webscraping få de 5 mest inficeret lande i verdenen.

In [22]:
import bs4
import requests
import pandas as pd
import numpy as np

r = requests.get('https://www.worldometers.info/coronavirus/?fbclid=IwAR2UQnjHgeapOf4Z1_yHDghnjNkPEdhGKgbZ7i3hV6YSXjYPGOUHMQ0uP98#countries/')
r.raise_for_status()
soup = bs4.BeautifulSoup(r.text, 'html.parser')

columns = []
data = []

for header in soup.find_all('th'):
    columns.append(header.getText()) 

for table_data in soup.find_all('td'):
    data.append(table_data.getText())

    columns[0] = columns[0].split(",")[0]
    
cities_tag_np_2d = np.reshape(data,(int(len(data)/9),9))
df = pd.DataFrame(data=cities_tag_np_2d[0:5], columns=columns[0:9])

df

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop
0,China,"81,008",+41,"3,255",+7,"71,740","6,013","1,927",56
1,Italy,"47,021",,"4,032",,"5,129","37,860","2,655",778
2,Spain,"24,926","+3,355","1,326",+233,"2,125","21,475",939,533
3,Germany,"20,705",+857,72,+4,209,"20,424",2,247
4,Iran,"20,610",+966,"1,556",+123,"7,635","11,419",,245

### Exercise 2 - data persistence

Gem alt dataen du får ud med PyMySQL, med relevante tabel headers

In [23]:
import pymysql as sql
import pandas as pd
from sqlalchemy import create_engine

con_str = 'mysql+pymysql://dev:ax2@localhost:3307/python'

def persist_data(connector, data, table_name):
    
    engine = create_engine(connector)
    connection = engine.raw_connection()
    
    data.replace("", "0", inplace=True)
    
    data.to_sql(table_name, con=engine, if_exists='append', index = False)
    print(df)
    
persist_data(con_str, df, 'CORONA')

   Country TotalCases NewCases                            TotalDeaths  \
0    China     81,008      +41  3,255
1    Italy     47,021        0  4,032
2    Spain     24,926   +3,355  1,326
3  Germany     20,705     +857     72
4     Iran     20,610     +966  1,556

  NewDeaths TotalRecovered ActiveCases Serious,Critical Tot Cases/1M pop
0        +7         71,740       6,013            1,927               56
1         0          5,129      37,860            2,655              778
2      +233          2,125      21,475              939              533
3        +4            209      20,424                2              247
4      +123          7,635      11,419                0              245

### Exercise 3 - webservice

Lav en webservice API som har en GET metode således du kan få alt dataen ud.
Ekstra opgave hvis du har tid: Lav et bar chart over de 5 lande, hvoraf man kan se ud fra hvert land deres smittetal, antal døde og antal raske.

In [14]:
from flask import jsonify

def get_all():
    df = pd.read_sql("SELECT * FROM CORONA", con=con_str)
    all = df.to_dict("records")
    print(all)

get_all()

# The solution is to be find in exercise3.py

[{'Country,Other': 'China', 'TotalCases': '81,008', 'NewCases': '+41', 'TotalDeaths': '3,255                                ', 'NewDeaths': '+7', 'TotalRecovered': '71,740', 'ActiveCases': '6,013', 'Serious,Critical': '1,927', 'Tot\xa0Cases/1M pop': '56'}, {'Country,Other': 'Italy', 'TotalCases': '47,021', 'NewCases': '0', 'TotalDeaths': '4,032                                ', 'NewDeaths': '0', 'TotalRecovered': '5,129', 'ActiveCases': '37,860', 'Serious,Critical': '2,655', 'Tot\xa0Cases/1M pop': '778'}, {'Country,Other': 'Spain', 'TotalCases': '21,571', 'NewCases': '0', 'TotalDeaths': '1,093                                ', 'NewDeaths': '0', 'TotalRecovered': '1,588', 'ActiveCases': '18,890', 'Serious,Critical': '939', 'Tot\xa0Cases/1M pop': '461'}, {'Country,Other': 'Iran', 'TotalCases': '20,610', 'NewCases': '+966', 'TotalDeaths': '1,556                                ', 'NewDeaths': '+123', 'TotalRecovered': '7,635', 'ActiveCases': '11,419', 'Serious,Critical': '0', 'Tot\xa0Cases/1M pop': '245'}, {'Country,Other': 'Germany', 'TotalCases': '20,099', 'NewCases': '+251', 'TotalDeaths': '70                                ', 'NewDeaths': '+2', 'TotalRecovered': '180', 'ActiveCases': '19,849', 'Serious,Critical': '2', 'Tot\xa0Cases/1M pop': '240'}, {'Country,Other': 'USA', 'TotalCases': '19,774', 'NewCases': '+391', 'TotalDeaths': '275                                ', 'NewDeaths': '+19', 'TotalRecovered': '147', 'ActiveCases': '19,352', 'Serious,Critical': '64', 'Tot\xa0Cases/1M pop': '60'}]